body {
    margin: 0;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
}

.left {
    background-color: cadetblue;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.share {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.share_bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    margin: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(242, 255, 67);
    border-radius: 10px;
}

#drop_cont {
    height: 200px;
    background-color: rgb(14, 198, 211);
    position: relative;
}

.empty_upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Upload menu */

#drop_cont label {
    background-color: rgb(14, 198, 211);
}

input[type="file"] {
    display: none;
}

#file_list>ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10px;
}

.file_list_item {
    display: block;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.right {
    background-color: greenyellow;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}