@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: var(--zinc-800);
  }
}

body {
  @apply text-zinc-800 text-sm
}

.animation-duration-2000 {
  animation-duration: 2000ms;
}

.card {
  @apply bg-equator-50 rounded-lg border border-equator-400
}

.full-card {
  @apply bg-equator-400 text-equator-950 p-4 rounded-lg
}

.card-padding {
  @apply p-4
}

.button {
  @apply hover:cursor-pointer px-2 py-1 text-white bg-equator-500 hover:bg-equator-600 active:bg-equator-700 rounded;
}

.hollow-button {
  @apply hover:cursor-pointer rounded-lg border border-equator-700 text-equator-700 hover:bg-equator-50 active:bg-equator-100;
}

.bb {
  @apply py-3 px-6 rounded-lg text-white
}

.link {
  @apply hover:cursor-pointer text-equator-900 hover:text-equator-950
}
